.judul{
    font-size: 20px;
    font-weight: bolder;
    color: #25316D;
}

.judul2{
    font-size: 16px;
}

.gambar{
    width: 50vw;
}

.container{
    width: 400px;
    height: 400px;
    background-color: aqua;
    padding: 70px 50px 72px 210px;
    margin: 40px;
}

.container > .kotak{
    width: 50%;
    height: 50%;
    background-color: antiquewhite;
    padding: 25px;
}

.table, td, th, tr{
    border: 1px solid black;
}